/* CSS declarations go here */
.active {
  background: yellow;
}

dl {
	font-size: smaller;
}
dt {
	font-weight: bold;
}
dd {
	font-style: italic;
}

.postBox {
}

.post {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 0.2em dashed gray;
}
.removeComment {
	margin: 1em;
	margin-top: 0.5em;
	float: right;
}