/* CSS declarations go here */
.active {
  background: #F6F6F6;
}

dl {
	font-size: smaller;
}
dt {
	font-weight: bold;
}
dd {
	font-style: italic;
}

.comment {
}

.post {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 0.2em dashed gray;
}
.removeComment {
	margin: 1em;
	margin-top: 0.5em;
	float: right;
}
.floatRight {
	float: right;
}

.unlike_link:hover,
.like_link:hover {
	text-decoration: none;
	color: #B6B6B6;
}
.unlike_link,
.like_link {
	text-decoration: underline;
}